<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="~/css/Layout//Layout.css">
    <title>Document</title>
</head>

<body>
    <div class="wrapper ">
        <div class="container-fluid">
            <header class="header container ">

                <div class="header__showmd d-lg-none d-block">

                    <h2>Sayron Pizza</h2>

                </div>
                <div class="header__row-1 row d-none d-lg-flex ">
                    <div class="header__row-1-logos col-md-2">
                        <a href="https://www.instagram.com/">
                            <img src="/images/logos/facebook-icon.png"
                                 class="header__row-1-social-item"></img>
                        </a>

                        <a href="https://www.facebook.com/">
                            <img class="header__row-1-social-item"
                                 src="/images/logos/instagram-icon.png"></img>
                        </a>
                    </div>
                    <div class="header__row-1-logos col-md-5 d-none d-lg-block">
                        <ul class="header__row-1-nav-menu row">
                            <li class="header__row-1-nav-item col-md-3"><a href="">Гловна</a></li>
                            <li class="header__row-1-nav-item col-md-3"><a href="">Блог</a></li>
                            <li class="header__row-1-nav-item col-md-3"><a href="">Доставка</a></li>
                            <li class="header__row-1-nav-item col-md-3"><a href="">Акції</a></li>
                        </ul>
                    </div>
                    <div class="header__row-1-comunicate col-md-3">
                        <img src="/images/logos/phone-call.png"></img>
                        <span>+38 (097) 043-56-65</span>
                    </div>
                    <div class="header__row-1-logos col-md-2">
                        <a href="
                        ">
                            <img src="/images/logos/user-icon.png"></img>
                            <span>Увійти</span>
                        </a>

                    </div>
                </div>
                <div class="header__row-2 row d-none d-lg-flex">

                    <div class="header__row-2-title col-md-2">
                        <a href="">
                            <h1>Sayron Pizza</h1>
                        </a>
                    </div>


                    <ul class="header__row-2-navmenu col-md-9 row ">

                        <li class="header__row-2-navmenu-item col-md-2 row">
                            <a class="header__row-2-navmenu-item-link" asp-action="index">
                                <img src="/images/menu-icons/icon-pizza.png" alt="">
                                <span>Піца</span>
                            </a>
                        </li>
                        <li class="header__row-2-navmenu-item col-md-2">

                            <a class="header__row-2-navmenu-item-link" asp-action="PrintSides">
                                <img src="/images/menu-icons/icon-chicken.png" alt="">
                                <span>Сайди</span>
                            </a>
                        </li>
                        <li class="header__row-2-navmenu-item col-md-2">

                            <a class="header__row-2-navmenu-item-link" asp-action="PrintSalads">
                                <img src="/images/menu-icons/icon-granulatedgarlic.png" alt="">
                                <span>Салати</span>
                            </a>
                        </li>
                        <li class="header__row-2-navmenu-item col-md-2">

                            <a class="header__row-2-navmenu-item-link" class="row" asp-action="PrintDesserts">
                                <img src="/images/menu-icons/icon-dessert.png" alt="">
                                <span>Десерти</span>
                            </a>
                        </li>
                        <li class="header__row-2-navmenu-item col-md-2">

                            <a class="header__row-2-navmenu-item-link"  asp-action="PrintDrinks">
                                
                                <img src="/images/menu-icons/icon-beerglass.png" alt="">
                                <span>Напої</span>
                            </a>
                        </li>
                        

                    </ul>


                    <div class="header__row-2-goAcount col-md-1">
                        <a class="header__row-2-goAcount-like" href="">
                            <img src="/images/menu-icons/icon-like.png" alt="">
                        </a>
                        <a class="header__row-2-goAcount-basket
                        basket" href="">
                            <img src="/images/menu-icons/icon-basket.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="header__row-3">
                </div>
            </header>
        </div>

        <div class="main" style="padding: 0px 0px;">
            @RenderBody()
           

        </div>

        <footer class="footer">
            <div class="container">
                <div class="footer__main row ">
                    <div class="footer__section-left row col-md-5">

                        <div class="footer__logo">
                            <img src="/images/logos/logo-pizza.png" alt="">
                        </div>
                        <div class="footer__contacts row">

                            <div class="">
                                <img src="/images/logos/phone-call.png" alt="">
                            </div>
                            <div class="footer__contacts-phonenumbers">
                                <span>+38 (097) 043-56-65</span>
                                <br>
                                <span>+38 (097) 033-32-85</span>
                            </div>

                        </div>
                        <div class="footer__location ">
                            <p>Місто Рівне</p>
                            <br>
                            <p>Вул. Степана Бандери 23</p>
                        </div>

                    </div>
                    <div class="footer__section-right flex-wrap col-md-7 row">
                        <div class="footer__section-right__first-collumn col-md-4">
                            <h2>Меню</h2>
                            <ul>
                                <li><a asp-action="Index">Піца</a></li>
                                <li><a asp-action="PrintSides">Сайди</a></li>
                                <li><a asp-action="PrintSalads">Салати</a></li>
                                <li><a asp-action="PrintDesserts">Десерти</a></li>
                                <li><a asp-action="PrintDrinks">Напої</a></li>
                            </ul>
                        </div>
                        <div class="footer__section-right__second-collumn col-md-4">
                            <h2>Покупцям</h2>
                            <ul>
                                <li><a href="">Сторінка Бажань</a></li>
                                <li><a href="">Правила та умови</a></li>
                                <li><a href="">Інформація щодо вмісту алергенів</a></li>
                                <li><a href="">Доставка</a></li>
                                <li><a href="">FAQ</a></li>
                            </ul>
                        </div>
                        <div class="footer__section-right__three-collumn col-md-4">
                            <h2>Інфо</h2>
                            <ul>
                                <li><a href="">Про нас</a></li>
                                <li><a href="">Контакти</a></li>
                                <li><a href="">Блог</a></li>
                            </ul>
                        </div>
                    </div>

                </div>

                <div class="footer__widgets row">
                    <div>
                        <span>© 2009 – 2023 «Sayron pizza». Всі права захищені. </span>
                    </div>
                    <div>
                        <a href="https://www.instagram.com/"> <img src="/images/logos/facebook-icon.png"></img></a>

                        <a href="https://www.facebook.com/"><img src="/images/logos/instagram-icon.png"></img></a>
                    </div>
                </div>

            </div>
        </footer>

    </div>
</body>

</html>