@using SayronPizzaMVC.Core.DTO_s.Products
@model ProductDto
@{
    ViewData["Title"] = "Products";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Product manager</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a asp-action="Index">Home</a></li>
                        <li class="breadcrumb-item active">Create product</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <!-- SELECT2 EXAMPLE -->
            <div class="card card-default">
                <div class="card-header">
                    <h3 class="card-title">Create product</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-tool" data-card-widget="remove">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-5 offset-3">
                            <div class="card card-primary">
                                <div class="card-header">
                                    <h3 class="card-title">New product</h3>
                                </div>
                                <!-- /.card-header -->
                                <!-- form start -->
                                @if (@ViewBag.AuthError != null)
                                {
                                    <span class="text-danger mt-3">@ViewBag.AuthError</span>
                                }
                                <form method="post" asp-action="Create">
                                    <div class="card-body">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Name</label>
                                            <input type="text" name="Name" class="form-control" id="exampleInputEmail1" placeholder="Enter product name">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Description</label>
                                            <input type="text" name="Description" class="form-control" id="exampleInputEmail1" placeholder="Enter Description">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Size</label>
                                            <input type="text" name="Size" class="form-control" id="exampleInputEmail1" placeholder="Enter Size">
                                        </div>

                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Price</label>
                                            <input type="text" name="Price" class="form-control" id="exampleInputEmail1" placeholder="Enter Price">
                                        </div>
                                        <div class="form-group">
                                            <label>Categories</label>
                                            <select class="form-control select2" name="AppCategoryName" style="width: 100%;">
                                                <option selected="selected">pizza</option>
                                                <option>sides</option>
                                                <option>salads</option>
                                                <option>deserts</option>
                                                <option>drinks</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label>Image</label>
                                            <div class=" input-group">
                                                <div class="custom-file">
                                                    <div class="custom-file">
                                                        <input type="file" id="Image" name="files" asp-for="@Model.File" class="custom-file-input" />
                                                        <label class="custom-file-label">Coose file...</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.card-body -->
                                    <div class="card-footer">
                                        <button type="submit" class="btn btn-primary">Create</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>

@section Scripts{
    <script src="~/dashboard/plugins/summernote/summernote-bs5.min.js"></script>

    <script>
        $(function() {
            $('#summernote').summernote({
                minHeight: 200
            })

            $('#text').summernote({
                minHeight: 200
            })
        })
    </script>
}                     