


<div class="container" style="padding: 150px 0px;">
    <div class="basket">
        <div class="basket__title">
            Корзина
        </div>
        <div class="twoBlock">
            <div class="basket__order">
                <div class="basket__orderDescription">
                    <div>
                        Продукт
                    </div>

                    <div>
                        Ціна
                    </div>

                    <div>
                        Розмір
                    </div>

                    <div>
                        Кінцева ціна
                    </div>
                </div>

                <!-- <div class="basket__orderItem">
                    <div class="basket__orderImg">
                        <img src="/images/pizza/pizza1.png" alt="">
                    </div>

                    <div class="basket__orderName">
                        Піца по Київські
                        <div class="basket__size">
                            30см
                        </div>
                    </div>

                    <div class="basket__orderPrice">
                        269,0 ₴
                    </div>

                    <div class="basket__size">
                        400g
                    </div>

                    <div class="basket__Subtotal">
                        239,0 ₴
                    </div>
                </div> -->
            </div>


            <div class="basket__total">
                <div class="basket__totalSum">
                    <div>ВСЬОГО</div>
                    <div>555,0 ₴</div>
                </div>

                <div class="basket__totalButton">
                    <a>
                        Замовить
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>