


<div class="container">
    <div class="basket">
        <div class="basket__title">
            <h1>Корзина</h1>
        </div>

        <table class="basket__table">
            <thead>
                <tr>
                    <th>Продукт</th>
                    <th>Ціна</th>
                    <th>Кількість</th>
                    <th>Всього</th>
                </tr>
                <tr>

                </tr>
            </thead>
        </table>
        
    </div>
    
</div>